.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea{
    resize: none;
}

h1,h2{
    text-align: center;
}

.observers{
    display: flex;
    gap: 5px;
    justify-content: space-around;
}

.observer{
    width: 200px;
    height: 200px;
    border: 1px solid red;
    padding: 5px;
    word-wrap: break-word;
}